@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  line-height: 1.42;
  letter-spacing: 1.16px;
  text-transform: none;
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  scroll-behavior: smooth;
}

h1 {
  display: none;
}

button, a {
  cursor: pointer;
}
button:disabled, a:disabled {
  cursor: auto;
}

h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h2 {
    font-size: 43.2px;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 46.656px;
  }
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 50.38848px;
  }
}

h3 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h3 {
    font-size: 34.56px;
  }
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 37.3248px;
  }
}
@media screen and (min-width: 992px) {
  h3 {
    font-size: 40.310784px;
  }
}

h4 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h4 {
    font-size: 25.92px;
  }
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 27.9936px;
  }
}
@media screen and (min-width: 992px) {
  h4 {
    font-size: 30.233088px;
  }
}

h5 {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h5 {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  h5 {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  h5 {
    font-size: 23.934528px;
  }
}

h6 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h6 {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  h6 {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  h6 {
    font-size: 20.155392px;
  }
}

p {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
}
p.xl {
  font-size: 19px;
}
@media screen and (min-width: 600px) {
  p.xl {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  p.xl {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  p.xl {
    font-size: 23.934528px;
  }
}
p.xl .brand {
  font-size: 19px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.xl .brand {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  p.xl .brand {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  p.xl .brand {
    font-size: 23.934528px;
  }
}
p.xl .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.xl .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.la {
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  p.la {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  p.la {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  p.la {
    font-size: 20.155392px;
  }
}
p.la .brand {
  font-size: 16px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.la .brand {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  p.la .brand {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  p.la .brand {
    font-size: 20.155392px;
  }
}
p.la .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.la .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.me {
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  p.me {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  p.me {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  p.me {
    font-size: 17.635968px;
  }
}
p.me .brand {
  font-size: 14px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.me .brand {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  p.me .brand {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  p.me .brand {
    font-size: 17.635968px;
  }
}
p.me .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.me .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.sm {
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  p.sm {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  p.sm {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  p.sm {
    font-size: 15.116544px;
  }
}
p.sm .brand {
  font-size: 12px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.sm .brand {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  p.sm .brand {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  p.sm .brand {
    font-size: 15.116544px;
  }
}
p.sm .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.sm .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.xs {
  font-size: 10px;
}
@media screen and (min-width: 600px) {
  p.xs {
    font-size: 10.8px;
  }
}
@media screen and (min-width: 768px) {
  p.xs {
    font-size: 11.664px;
  }
}
@media screen and (min-width: 992px) {
  p.xs {
    font-size: 12.59712px;
  }
}
p.xs .brand {
  font-size: 10px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.xs .brand {
    font-size: 10.8px;
  }
}
@media screen and (min-width: 768px) {
  p.xs .brand {
    font-size: 11.664px;
  }
}
@media screen and (min-width: 992px) {
  p.xs .brand {
    font-size: 12.59712px;
  }
}
p.xs .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.xs .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.copyright {
  font-size: 8px;
}
@media screen and (min-width: 600px) {
  p.copyright {
    font-size: 8.64px;
  }
}
@media screen and (min-width: 768px) {
  p.copyright {
    font-size: 9.3312px;
  }
}
@media screen and (min-width: 992px) {
  p.copyright {
    font-size: 10.077696px;
  }
}
p.copyright .brand {
  font-size: 8px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.copyright .brand {
    font-size: 8.64px;
  }
}
@media screen and (min-width: 768px) {
  p.copyright .brand {
    font-size: 9.3312px;
  }
}
@media screen and (min-width: 992px) {
  p.copyright .brand {
    font-size: 10.077696px;
  }
}
p.copyright .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.copyright .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}

header nav a {
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
  text-transform: uppercase;
}
header nav a:hover {
  font-weight: 600;
}

footer nav a {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
  text-transform: uppercase;
}
footer nav a:hover {
  font-weight: 600;
}

main a:not(.btn) {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
  color: hsl(210, 96%, 40%);
  transition: all 0.16s ease-in-out;
}
main a:not(.btn).xl {
  font-size: 19px;
}
@media screen and (min-width: 600px) {
  main a:not(.btn).xl {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  main a:not(.btn).xl {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  main a:not(.btn).xl {
    font-size: 23.934528px;
  }
}
main a:not(.btn).la {
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  main a:not(.btn).la {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  main a:not(.btn).la {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  main a:not(.btn).la {
    font-size: 20.155392px;
  }
}
main a:not(.btn).me {
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  main a:not(.btn).me {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  main a:not(.btn).me {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  main a:not(.btn).me {
    font-size: 17.635968px;
  }
}
main a:not(.btn).sm {
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  main a:not(.btn).sm {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  main a:not(.btn).sm {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  main a:not(.btn).sm {
    font-size: 15.116544px;
  }
}
main a:not(.btn).xs {
  font-size: 10px;
}
@media screen and (min-width: 600px) {
  main a:not(.btn).xs {
    font-size: 10.8px;
  }
}
@media screen and (min-width: 768px) {
  main a:not(.btn).xs {
    font-size: 11.664px;
  }
}
@media screen and (min-width: 992px) {
  main a:not(.btn).xs {
    font-size: 12.59712px;
  }
}
main a:not(.btn).copyright {
  font-size: 8px;
}
@media screen and (min-width: 600px) {
  main a:not(.btn).copyright {
    font-size: 8.64px;
  }
}
@media screen and (min-width: 768px) {
  main a:not(.btn).copyright {
    font-size: 9.3312px;
  }
}
@media screen and (min-width: 992px) {
  main a:not(.btn).copyright {
    font-size: 10.077696px;
  }
}
main a:not(.btn):hover {
  color: hsl(32, 96%, 48%);
}
@media (prefers-color-scheme: dark) {
  main a:not(.btn) {
    color: hsl(32, 96%, 48%);
  }
  main a:not(.btn):hover {
    color: hsl(210, 96%, 40%);
  }
}

.btn, .icon-btn {
  transition: all 0.16s ease-in-out;
}
.btn.btn-ghost, .icon-btn.btn-ghost {
  background-color: rgba(0, 0, 0, 0);
  color: hsl(210, 100%, 2%);
}
.btn.btn-ghost:hover, .icon-btn.btn-ghost:hover {
  background-color: rgba(0, 0, 0, 0.16);
}
@media (prefers-color-scheme: dark) {
  .btn.btn-ghost, .icon-btn.btn-ghost {
    background-color: rgba(255, 255, 255, 0);
    color: hsl(210, 0%, 98%);
  }
  .btn.btn-ghost:hover, .icon-btn.btn-ghost:hover {
    background-color: rgba(255, 255, 255, 0.16);
  }
}
.btn.btn-main, .icon-btn.btn-main {
  background-color: hsl(210, 96%, 40%);
  color: hsl(210, 0%, 98%);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
}
@media (prefers-color-scheme: dark) {
  .btn.btn-main, .icon-btn.btn-main {
    background-color: hsl(32, 96%, 48%);
    color: hsl(210, 0%, 98%);
  }
}
.btn.btn-main:hover, .icon-btn.btn-main:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.08) 0px 2px 4px;
}
.btn:hover, .icon-btn:hover {
  scale: 0.96;
}
.btn:disabled, .icon-btn:disabled {
  background-color: rgba(0, 0, 0, 0.16);
  scale: 1;
}
@media (prefers-color-scheme: dark) {
  .btn:disabled, .icon-btn:disabled {
    background-color: rgba(255, 255, 255, 0.16);
  }
}

.btn {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  letter-spacing: 1.16px;
  line-height: 1.42;
  text-transform: uppercase;
  padding: 12px 32px;
  border-radius: 8px;
}
@media screen and (min-width: 600px) {
  .btn {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  .btn {
    font-size: 17.635968px;
  }
}

.icon-btn {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  letter-spacing: 1.16px;
  line-height: 1.42;
  text-transform: uppercase;
  display: flex;
  padding: 16px;
  border-radius: 50%;
}
@media screen and (min-width: 600px) {
  .icon-btn {
    font-size: 19.44px;
  }
}
@media screen and (min-width: 768px) {
  .icon-btn {
    font-size: 20.9952px;
  }
}
@media screen and (min-width: 992px) {
  .icon-btn {
    font-size: 22.674816px;
  }
}

.ctrl-btn {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  transition: all 0.16s ease-in-out;
}
@media screen and (min-width: 600px) {
  .ctrl-btn {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  .ctrl-btn {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  .ctrl-btn {
    font-size: 15.116544px;
  }
}
.ctrl-btn.btn-light {
  background-color: rgba(0, 0, 0, 0);
  color: hsl(210, 100%, 2%);
}
.ctrl-btn.btn-light:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.ctrl-btn.btn-dark {
  background-color: rgba(255, 255, 255, 0);
  color: hsl(210, 0%, 98%);
}
.ctrl-btn.btn-dark:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

input[type=text] {
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
  width: 100%;
  max-width: 350px;
  outline: 1px solid rgba(0, 0, 0, 0.16);
  padding: 16px 24px;
  border: none;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.08);
  transition: all 0.16s ease-in-out;
}
input[type=text]::-moz-placeholder {
  text-transform: capitalize;
}
input[type=text]::placeholder {
  text-transform: capitalize;
}
input[type=text]:hover {
  outline: 1px solid hsl(210, 96%, 40%);
}
input[type=text]:focus {
  outline: 1px solid hsl(92, 64%, 48%);
}
@media (prefers-color-scheme: dark) {
  input[type=text] {
    background-color: hsl(210, 0%, 98%);
  }
  input[type=text]:hover {
    outline: 1px solid hsl(32, 96%, 48%);
  }
  input[type=text]:focus {
    outline: 1px solid hsl(92, 64%, 48%);
  }
}

label {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
}
label.xl {
  font-size: 19px;
}
@media screen and (min-width: 600px) {
  label.xl {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  label.xl {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  label.xl {
    font-size: 23.934528px;
  }
}
label.la {
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  label.la {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  label.la {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  label.la {
    font-size: 20.155392px;
  }
}
label.me {
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  label.me {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  label.me {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  label.me {
    font-size: 17.635968px;
  }
}
label.sm {
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  label.sm {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  label.sm {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  label.sm {
    font-size: 15.116544px;
  }
}
label.xs {
  font-size: 10px;
}
@media screen and (min-width: 600px) {
  label.xs {
    font-size: 10.8px;
  }
}
@media screen and (min-width: 768px) {
  label.xs {
    font-size: 11.664px;
  }
}
@media screen and (min-width: 992px) {
  label.xs {
    font-size: 12.59712px;
  }
}
label.copyright {
  font-size: 8px;
}
@media screen and (min-width: 600px) {
  label.copyright {
    font-size: 8.64px;
  }
}
@media screen and (min-width: 768px) {
  label.copyright {
    font-size: 9.3312px;
  }
}
@media screen and (min-width: 992px) {
  label.copyright {
    font-size: 10.077696px;
  }
}

@keyframes progress-bar-drain {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes progress-bar-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes toast-pop {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  7% {
    transform: translateX(-16px);
  }
  11% {
    transform: translateX(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.App {
  background-color: hsl(210, 0%, 98%);
  color: hsl(210, 100%, 2%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  width: 100dvw;
}
@media (prefers-color-scheme: dark) {
  .App {
    background-color: #011428;
    color: hsl(210, 0%, 98%);
  }
}

#toast {
  position: absolute;
  top: 96px;
  right: 16px;
  border-radius: 8px;
  background-color: hsl(210, 0%, 98%);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
  overflow: hidden;
  z-index: 1000;
  animation: toast-pop 3.64s forwards ease-out;
}
#toast .toast-bg {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 16px 20px 16px;
  background-color: rgba(0, 0, 0, 0.16);
}
#toast .toast-bg > svg {
  font-size: 29px;
}
#toast .toast-bg p {
  font-size: 16px;
  color: hsl(210, 100%, 2%);
}
#toast .toast-bg button {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.16s ease-in-out;
}
@media screen and (min-width: 600px) {
  #toast .toast-bg button {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  #toast .toast-bg button {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  #toast .toast-bg button {
    font-size: 17.635968px;
  }
}
#toast .toast-bg button:hover {
  background-color: rgba(0, 0, 0, 0.16);
}
@media (prefers-color-scheme: dark) {
  #toast .toast-bg button {
    background-color: rgba(255, 255, 255, 0);
    color: hsl(210, 0%, 98%);
  }
  #toast .toast-bg button:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }
}
#toast .toast-bg .progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
}
#toast .toast-bg .progress-bar .bg {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
}
#toast .toast-bg .progress-bar .bg .fg {
  height: 100%;
  animation: progress-bar-drain 3s forwards linear;
  animation-delay: 0.32s;
}
#toast.error .toast-bg > svg {
  color: hsl(0, 64%, 48%);
}
#toast.error .toast-bg .progress-bar .fg {
  background-color: hsl(0, 64%, 48%);
}
#toast.success .toast-bg > svg {
  color: hsl(92, 64%, 48%);
}
#toast.success .toast-bg .progress-bar .bg .fg {
  background-color: hsl(92, 64%, 48%);
}
@media (prefers-color-scheme: dark) {
  #toast {
    background-color: #011428;
  }
  #toast .toast-bg {
    background-color: rgba(0, 0, 0, 0.16);
  }
  #toast .toast-bg p {
    color: hsl(210, 0%, 98%);
  }
}

#header-container {
  background-color: hsl(210, 96%, 40%);
  color: hsl(210, 0%, 98%);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
  width: 100%;
}
#header-container nav#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  padding: 16px;
  margin: 0 auto;
}
#header-container nav#main-nav span {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: hsl(210, 0%, 98%);
}
#header-container nav#main-nav span svg {
  font-size: 32px;
}
#header-container nav#main-nav .links {
  display: flex;
  align-items: center;
  gap: 6px;
}
#header-container nav#main-nav .links a {
  padding: 8px;
  font-size: 19px;
  color: hsl(210, 0%, 98%);
  transition: all 0.16s ease-in-out;
}
@media (prefers-color-scheme: dark) {
  #header-container {
    background-color: rgba(0, 0, 0, 0.32);
  }
}

#footer-container {
  background-color: hsl(210, 96%, 40%);
  color: hsl(210, 0%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 100%;
  padding: 16px;
}
#footer-container span.brand em {
  color: hsl(32, 96%, 48%);
}
@media (prefers-color-scheme: dark) {
  #footer-container {
    background-color: rgba(0, 0, 0, 0.32);
  }
}

#main-container {
  height: 100%;
  overflow-y: scroll;
  padding: 32px;
}
#main-container.home {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}
#main-container.home form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}
#main-container.home p.no-users {
  margin: 0 auto;
}
#main-container.home ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
#main-container.home ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  max-width: 350px;
  padding: 16px;
  border-radius: 8px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
}
#main-container.home ul li img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
#main-container.home ul li .text-box {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#main-container.home ul li .text-box p {
  margin-left: 6px;
}
#main-container.home ul li .text-box a {
  padding: 6px;
}
@media screen and (min-width: 768px) {
  #main-container.home ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  #main-container.home ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
#main-container.profile {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#main-container.profile .control {
  display: flex;
  justify-content: end;
  margin: -16px;
}
#main-container.profile .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
#main-container.profile .user .avatar {
  display: grid;
  grid-template-areas: "grid";
  width: 256px;
  margin: 0 auto;
}
#main-container.profile .user .avatar > * {
  grid-area: grid;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#main-container.profile .user .avatar .overlay {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.64);
}
#main-container.profile .user .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
#main-container.profile .user .details h2 {
  font-size: 32px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  #main-container.profile .user .details h2 {
    font-size: 34.56px;
  }
}
@media screen and (min-width: 768px) {
  #main-container.profile .user .details h2 {
    font-size: 37.3248px;
  }
}
@media screen and (min-width: 992px) {
  #main-container.profile .user .details h2 {
    font-size: 40.310784px;
  }
}
#main-container.profile .user .details .badges {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
#main-container.profile .user .details .badges p {
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.16);
  text-transform: capitalize;
}
#main-container.profile .user .details .badges p:first-of-type {
  color: hsl(211, 48%, 48%);
}
#main-container.profile .user .details .badges p:last-of-type {
  color: hsl(92, 64%, 48%);
}
#main-container.profile .user .details p.bio {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}
#main-container.profile .details-bar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#main-container.profile .details-bar .detail {
  width: 100%;
  max-width: 350px;
  padding: 16px;
  border-radius: 16px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
}
#main-container.profile .details-bar.title-value .detail {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#main-container.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
#main-container.about p {
  text-align: center;
}
#main-container.about p:first-of-type {
  margin-bottom: 16px;
}
#main-container.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.loading {
  position: relative;
  top: 0;
  left: 0;
  width: 84px;
  margin: 32px auto;
}
.loading .dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 6px;
  background-color: hsl(210, 96%, 40%);
  animation: loading 0.48s infinite alternate cubic-bezier(0.64, 0.08, 0.96, 0.48);
}
.loading .dot:nth-of-type(2) {
  animation-delay: 0.16s;
}
.loading .dot:nth-of-type(3) {
  animation-delay: 0.32s;
}
@media (prefers-color-scheme: dark) {
  .loading .dot {
    background-color: hsl(32, 96%, 48%);
  }
}

@keyframes loading {
  from {
    transform: translateY(-12px);
  }
  to {
    transform: translateY(0);
  }
}/*# sourceMappingURL=index.css.map */