@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  line-height: 1.42;
  letter-spacing: 1.16px;
  text-transform: none;
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  scroll-behavior: smooth;
}

h1 {
  display: none;
}

button, a {
  cursor: pointer;
}
button:disabled, a:disabled {
  cursor: auto;
}

h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h2 {
    font-size: 43.2px;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 46.656px;
  }
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 50.38848px;
  }
}

h3 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h3 {
    font-size: 34.56px;
  }
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 37.3248px;
  }
}
@media screen and (min-width: 992px) {
  h3 {
    font-size: 40.310784px;
  }
}

h4 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h4 {
    font-size: 25.92px;
  }
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 27.9936px;
  }
}
@media screen and (min-width: 992px) {
  h4 {
    font-size: 30.233088px;
  }
}

h5 {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h5 {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  h5 {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  h5 {
    font-size: 23.934528px;
  }
}

h6 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h6 {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  h6 {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  h6 {
    font-size: 20.155392px;
  }
}

span.badge {
  font-family: "Comfortaa", sans-serif;
  font-size: 8px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.08);
  font-weight: 600;
  text-transform: capitalize;
}
@media (prefers-color-scheme: dark) {
  span.badge {
    background-color: rgba(0, 0, 0, 0.16);
  }
}
span.badge.red {
  color: hsl(0, 64%, 48%);
}
@media (prefers-color-scheme: dark) {
  span.badge.red {
    color: #de6868;
  }
}
span.badge.orange {
  color: hsl(29, 98%, 48%);
}
@media (prefers-color-scheme: dark) {
  span.badge.orange {
    color: #fda049;
  }
}
span.badge.yellow {
  color: hsl(56, 64%, 48%);
}
@media (prefers-color-scheme: dark) {
  span.badge.yellow {
    color: #ded668;
  }
}
span.badge.green {
  color: hsl(92, 64%, 48%);
}
@media (prefers-color-scheme: dark) {
  span.badge.green {
    color: #9fde68;
  }
}
span.badge.blue {
  color: hsl(211, 48%, 48%);
}
@media (prefers-color-scheme: dark) {
  span.badge.blue {
    color: #77a2cf;
  }
}
span.badge.purple {
  color: hsl(285, 48%, 48%);
}
@media (prefers-color-scheme: dark) {
  span.badge.purple {
    color: #b977cf;
  }
}

p {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
}
p.xl {
  font-size: 19px;
}
@media screen and (min-width: 600px) {
  p.xl {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  p.xl {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  p.xl {
    font-size: 23.934528px;
  }
}
p.xl .brand {
  font-size: 19px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.xl .brand {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  p.xl .brand {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  p.xl .brand {
    font-size: 23.934528px;
  }
}
p.xl .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.xl .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.la {
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  p.la {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  p.la {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  p.la {
    font-size: 20.155392px;
  }
}
p.la .brand {
  font-size: 16px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.la .brand {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  p.la .brand {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  p.la .brand {
    font-size: 20.155392px;
  }
}
p.la .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.la .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.me {
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  p.me {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  p.me {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  p.me {
    font-size: 17.635968px;
  }
}
p.me .brand {
  font-size: 14px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.me .brand {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  p.me .brand {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  p.me .brand {
    font-size: 17.635968px;
  }
}
p.me .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.me .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.sm {
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  p.sm {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  p.sm {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  p.sm {
    font-size: 15.116544px;
  }
}
p.sm .brand {
  font-size: 12px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.sm .brand {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  p.sm .brand {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  p.sm .brand {
    font-size: 15.116544px;
  }
}
p.sm .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.sm .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.xs {
  font-size: 10px;
}
@media screen and (min-width: 600px) {
  p.xs {
    font-size: 10.8px;
  }
}
@media screen and (min-width: 768px) {
  p.xs {
    font-size: 11.664px;
  }
}
@media screen and (min-width: 992px) {
  p.xs {
    font-size: 12.59712px;
  }
}
p.xs .brand {
  font-size: 10px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.xs .brand {
    font-size: 10.8px;
  }
}
@media screen and (min-width: 768px) {
  p.xs .brand {
    font-size: 11.664px;
  }
}
@media screen and (min-width: 992px) {
  p.xs .brand {
    font-size: 12.59712px;
  }
}
p.xs .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.xs .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.copyright {
  font-size: 8px;
}
@media screen and (min-width: 600px) {
  p.copyright {
    font-size: 8.64px;
  }
}
@media screen and (min-width: 768px) {
  p.copyright {
    font-size: 9.3312px;
  }
}
@media screen and (min-width: 992px) {
  p.copyright {
    font-size: 10.077696px;
  }
}
p.copyright .brand {
  font-size: 8px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.copyright .brand {
    font-size: 8.64px;
  }
}
@media screen and (min-width: 768px) {
  p.copyright .brand {
    font-size: 9.3312px;
  }
}
@media screen and (min-width: 992px) {
  p.copyright .brand {
    font-size: 10.077696px;
  }
}
p.copyright .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.copyright .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}

header nav a {
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
  text-transform: uppercase;
}
header nav a:hover {
  font-weight: 600;
}

footer nav a {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
  text-transform: uppercase;
}
footer nav a:hover {
  font-weight: 600;
}

main a:not(.btn) {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
  color: hsl(210, 96%, 40%);
  transition: all 0.16s ease-in-out;
}
main a:not(.btn).xl {
  font-size: 19px;
}
@media screen and (min-width: 600px) {
  main a:not(.btn).xl {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  main a:not(.btn).xl {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  main a:not(.btn).xl {
    font-size: 23.934528px;
  }
}
main a:not(.btn).la {
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  main a:not(.btn).la {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  main a:not(.btn).la {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  main a:not(.btn).la {
    font-size: 20.155392px;
  }
}
main a:not(.btn).me {
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  main a:not(.btn).me {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  main a:not(.btn).me {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  main a:not(.btn).me {
    font-size: 17.635968px;
  }
}
main a:not(.btn).sm {
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  main a:not(.btn).sm {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  main a:not(.btn).sm {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  main a:not(.btn).sm {
    font-size: 15.116544px;
  }
}
main a:not(.btn).xs {
  font-size: 10px;
}
@media screen and (min-width: 600px) {
  main a:not(.btn).xs {
    font-size: 10.8px;
  }
}
@media screen and (min-width: 768px) {
  main a:not(.btn).xs {
    font-size: 11.664px;
  }
}
@media screen and (min-width: 992px) {
  main a:not(.btn).xs {
    font-size: 12.59712px;
  }
}
main a:not(.btn).copyright {
  font-size: 8px;
}
@media screen and (min-width: 600px) {
  main a:not(.btn).copyright {
    font-size: 8.64px;
  }
}
@media screen and (min-width: 768px) {
  main a:not(.btn).copyright {
    font-size: 9.3312px;
  }
}
@media screen and (min-width: 992px) {
  main a:not(.btn).copyright {
    font-size: 10.077696px;
  }
}
main a:not(.btn):hover {
  color: hsl(32, 96%, 48%);
}
@media (prefers-color-scheme: dark) {
  main a:not(.btn) {
    color: hsl(32, 96%, 48%);
  }
  main a:not(.btn):hover {
    color: hsl(210, 96%, 40%);
  }
}

.btn, .icon-btn {
  transition: all 0.16s ease-in-out;
}
.btn.btn-ghost, .icon-btn.btn-ghost {
  background-color: rgba(0, 0, 0, 0);
  color: hsl(210, 100%, 2%);
}
.btn.btn-ghost:hover, .icon-btn.btn-ghost:hover {
  background-color: rgba(0, 0, 0, 0.16);
}
@media (prefers-color-scheme: dark) {
  .btn.btn-ghost, .icon-btn.btn-ghost {
    background-color: rgba(255, 255, 255, 0);
    color: hsl(210, 0%, 98%);
  }
  .btn.btn-ghost:hover, .icon-btn.btn-ghost:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }
}
.btn.btn-main, .icon-btn.btn-main {
  background-color: hsl(210, 96%, 40%);
  color: hsl(210, 0%, 98%);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
}
@media (prefers-color-scheme: dark) {
  .btn.btn-main, .icon-btn.btn-main {
    background-color: hsl(32, 96%, 48%);
    color: hsl(210, 0%, 98%);
  }
}
.btn.btn-main:hover, .icon-btn.btn-main:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.08) 0px 2px 4px;
}
.btn:hover, .icon-btn:hover {
  scale: 0.96;
}
.btn:disabled, .icon-btn:disabled {
  background-color: rgba(0, 0, 0, 0.16);
  scale: 1;
}
@media (prefers-color-scheme: dark) {
  .btn:disabled, .icon-btn:disabled {
    background-color: rgba(255, 255, 255, 0.16);
  }
}

.btn {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  letter-spacing: 1.16px;
  line-height: 1.42;
  text-transform: uppercase;
  padding: 12px 32px;
  border-radius: 8px;
}
@media screen and (min-width: 600px) {
  .btn {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  .btn {
    font-size: 17.635968px;
  }
}

.icon-btn {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  letter-spacing: 1.16px;
  line-height: 1.42;
  text-transform: uppercase;
  display: flex;
  padding: 16px;
  border-radius: 50%;
}
@media screen and (min-width: 600px) {
  .icon-btn {
    font-size: 19.44px;
  }
}
@media screen and (min-width: 768px) {
  .icon-btn {
    font-size: 20.9952px;
  }
}
@media screen and (min-width: 992px) {
  .icon-btn {
    font-size: 22.674816px;
  }
}

.ctrl-btn {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  transition: all 0.16s ease-in-out;
}
@media screen and (min-width: 600px) {
  .ctrl-btn {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  .ctrl-btn {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  .ctrl-btn {
    font-size: 15.116544px;
  }
}
.ctrl-btn.btn-light {
  background-color: rgba(0, 0, 0, 0);
  color: hsl(210, 100%, 2%);
}
.ctrl-btn.btn-light:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.ctrl-btn.btn-dark {
  background-color: rgba(255, 255, 255, 0);
  color: hsl(210, 0%, 98%);
}
.ctrl-btn.btn-dark:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

input[type=text] {
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
  width: 100%;
  max-width: 350px;
  outline: 1px solid rgba(0, 0, 0, 0.16);
  padding: 16px 24px;
  border: none;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.08);
  transition: all 0.16s ease-in-out;
}
input[type=text]::-moz-placeholder {
  text-transform: capitalize;
}
input[type=text]::placeholder {
  text-transform: capitalize;
}
input[type=text]:hover {
  outline: 1px solid hsl(210, 96%, 40%);
}
input[type=text]:focus {
  outline: 1px solid hsl(92, 64%, 48%);
}
@media (prefers-color-scheme: dark) {
  input[type=text] {
    background-color: hsl(210, 0%, 98%);
  }
  input[type=text]:hover {
    outline: 1px solid hsl(32, 96%, 48%);
  }
  input[type=text]:focus {
    outline: 1px solid hsl(92, 64%, 48%);
  }
}

label {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
}
label.xl {
  font-size: 19px;
}
@media screen and (min-width: 600px) {
  label.xl {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  label.xl {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  label.xl {
    font-size: 23.934528px;
  }
}
label.la {
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  label.la {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  label.la {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  label.la {
    font-size: 20.155392px;
  }
}
label.me {
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  label.me {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  label.me {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  label.me {
    font-size: 17.635968px;
  }
}
label.sm {
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  label.sm {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  label.sm {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  label.sm {
    font-size: 15.116544px;
  }
}
label.xs {
  font-size: 10px;
}
@media screen and (min-width: 600px) {
  label.xs {
    font-size: 10.8px;
  }
}
@media screen and (min-width: 768px) {
  label.xs {
    font-size: 11.664px;
  }
}
@media screen and (min-width: 992px) {
  label.xs {
    font-size: 12.59712px;
  }
}
label.copyright {
  font-size: 8px;
}
@media screen and (min-width: 600px) {
  label.copyright {
    font-size: 8.64px;
  }
}
@media screen and (min-width: 768px) {
  label.copyright {
    font-size: 9.3312px;
  }
}
@media screen and (min-width: 992px) {
  label.copyright {
    font-size: 10.077696px;
  }
}

@keyframes progress-bar-drain {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes progress-bar-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes toast-pop {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  7% {
    transform: translateX(-16px);
  }
  11% {
    transform: translateX(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.relative, #toast .toast-bg, .loading {
  position: relative;
}

.absolute, #toast .toast-bg .progress-bar, #toast {
  position: absolute;
}

.top-0, #toast .toast-bg, .loading {
  top: 0;
}

.left-0, #toast .toast-bg .progress-bar, #toast .toast-bg, .loading {
  left: 0;
}

.bottom-0, #toast .toast-bg .progress-bar, #toast .toast-bg {
  bottom: 0;
}

.right-0, #toast .toast-bg .progress-bar, #toast .toast-bg {
  right: 0;
}

.flex, .App, #toast .toast-bg button, #toast .toast-bg, #main-container, #footer-container, #header-container nav#main-nav .links, #header-container nav#main-nav span, #header-container nav#main-nav, #main-container.profile .repos ul li .badges, #main-container.profile .repos ul li a, #main-container.profile .repos ul li, #main-container.profile .repos ul, #main-container.profile .repos, #main-container.profile .details-bar.title-value .detail, #main-container.profile .details-bar, #main-container.profile .user .details .badges, #main-container.profile .user .details, #main-container.profile .user .avatar .overlay, #main-container.profile .user, #main-container.profile .control, #main-container.home ul li .text-box, #main-container.home ul li, #main-container.home ul, #main-container.home form {
  display: flex;
}

.flex-col, .App, #main-container, #footer-container, #main-container.profile .repos ul li, #main-container.profile .repos ul, #main-container.profile .repos, #main-container.profile .details-bar.title-value .detail, #main-container.profile .details-bar, #main-container.profile .user .details, #main-container.profile .user .avatar .overlay, #main-container.profile .user, #main-container.home ul li .text-box, #main-container.home ul {
  flex-direction: column;
}

.grid, #main-container.profile .details-bar.icon-title-value .detail {
  display: grid;
}

.grid-overlay, #main-container.profile .user .avatar {
  display: grid;
  grid-template-areas: "grid";
}
.grid-overlay > *, #main-container.profile .user .avatar > * {
  grid-area: grid;
}

.inline-block, .loading .dot {
  display: inline-block;
}

.justify-center, #toast .toast-bg button, #footer-container, #main-container.profile .user .details .badges, #main-container.home ul, #main-container.home form, #main-container.not-found, #main-container.about {
  justify-content: center;
}

.justify-between, .App, #header-container nav#main-nav {
  justify-content: space-between;
}

.justify-end, #main-container.profile .user .avatar .overlay, #main-container.profile .control {
  justify-content: end;
}

.align-center, #toast .toast-bg button, #toast .toast-bg, #footer-container, #header-container nav#main-nav .links, #header-container nav#main-nav span, #header-container nav#main-nav, #main-container.profile .repos ul li a, #main-container.profile .details-bar.icon-title-value .detail, #main-container.profile .user .details .badges, #main-container.profile .user .details, #main-container.profile .user .avatar .overlay, #main-container.profile .user, #main-container.home ul li, #main-container.home ul, #main-container.home form, #main-container.not-found, #main-container.about {
  align-items: center;
}

.align-start, #main-container.home ul li .text-box, #main-container.home {
  align-items: start;
}

.gap-4 {
  gap: 4px;
}

.gap-6, #footer-container, #header-container nav#main-nav .links, #header-container nav#main-nav span, #main-container.profile .repos ul li .badges, #main-container.profile .repos ul li a, #main-container.profile .details-bar.title-value .detail, #main-container.profile .user .details .badges, #main-container.home ul li, #main-container.about {
  gap: 6px;
}

.gap-8, #main-container.profile .repos ul li, #main-container.profile .repos ul, #main-container.profile .details-bar {
  gap: 8px;
}

.gap-16, #toast .toast-bg, #main-container.profile .repos, #main-container.profile .user .details, #main-container.profile .user, #main-container.home ul, #main-container.home form, #main-container.not-found {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32, #main-container.profile, #main-container.home {
  gap: 32px;
}

.gap-48 {
  gap: 48px;
}

.gap-64 {
  gap: 64px;
}

.container, #footer-container, #header-container {
  width: 100%;
}

.wrapper, #header-container nav#main-nav, #main-container.profile .repos ul li, #main-container.profile section:not(.control), #main-container.home ul, #main-container.home form {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.packet, #main-container.profile .user .details p.bio {
  width: 100%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.w-100, #main-container.profile .details-bar .detail, #main-container.profile .user .avatar > *, #main-container.home ul li {
  width: 100%;
}

.h-100, #toast .toast-bg .progress-bar .bg .fg, #toast .toast-bg .progress-bar .bg, #main-container, #main-container.profile .user .avatar > * {
  height: 100%;
}

.w-4 {
  width: 4px;
}

.h-4 {
  height: 4px;
}

.w-6 {
  width: 6px;
}

.h-6 {
  height: 6px;
}

.w-8 {
  width: 8px;
}

.h-8, #toast .toast-bg .progress-bar {
  height: 8px;
}

.w-16, .loading .dot {
  width: 16px;
}

.h-16, .loading .dot {
  height: 16px;
}

.w-24, #toast .toast-bg button {
  width: 24px;
}

.h-24, #toast .toast-bg button {
  height: 24px;
}

.w-32 {
  width: 32px;
}

.h-32 {
  height: 32px;
}

.w-48 {
  width: 48px;
}

.h-48 {
  height: 48px;
}

.w-64, #main-container.home ul li img {
  width: 64px;
}

.h-64, #main-container.home ul li img {
  height: 64px;
}

.p-4 {
  padding: 4px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.p-6, #main-container.home ul li .text-box a {
  padding: 6px;
}

.px-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.p-8, #header-container nav#main-nav .links a, #header-container nav#main-nav span {
  padding: 8px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.p-16, #footer-container, #header-container nav#main-nav, #main-container.profile .repos ul li, #main-container.profile .details-bar.title-value .detail, #main-container.home ul li {
  padding: 16px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16, #main-container.profile .details-bar.icon-title-value .detail {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-24 {
  padding: 24px;
}

.px-24, #main-container.profile .details-bar.icon-title-value .detail {
  padding-left: 24px;
  padding-right: 24px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.p-32, #main-container {
  padding: 32px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.p-48, #main-container.profile .user .avatar .overlay {
  padding: 48px;
}

.px-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.p-64 {
  padding: 64px;
}

.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.circle, .loading .dot, #main-container.profile .user .avatar > *, #main-container.home ul li img {
  border-radius: 50%;
}

.br-4, #toast .toast-bg button {
  border-radius: 4px;
}

.br-6 {
  border-radius: 6px;
}

.br-8, #toast, #main-container.home ul li {
  border-radius: 8px;
}

.br-16, #main-container.profile .repos ul li, #main-container.profile .details-bar .detail {
  border-radius: 16px;
}

.br-24 {
  border-radius: 24px;
}

.br-32 {
  border-radius: 32px;
}

.br-48 {
  border-radius: 48px;
}

.br-64 {
  border-radius: 64px;
}

.mx-auto, #main-container p.empty, .loading, #main-container.profile .details-bar .detail, #main-container.profile .user .avatar, #main-container.home ul li {
  margin-left: auto;
  margin-right: auto;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mx-6, .loading .dot {
  margin-left: 6px;
  margin-right: 6px;
}

.mt-6, #main-container.profile .repos ul li .badges {
  margin-top: 6px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16, #main-container.about p:first-of-type {
  margin-bottom: 16px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.mt-32, .loading {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mx-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.mt-48 {
  margin-top: 48px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mx-64 {
  margin-left: 64px;
  margin-right: 64px;
}

.mt-64 {
  margin-top: 64px;
}

.mb-64 {
  margin-bottom: 64px;
}

.overflow-hidden, #toast {
  overflow: hidden;
}

.ta-center, #main-container.profile .user .details p.bio, #main-container.profile h3, #main-container.profile h2, #main-container.about p {
  text-align: center;
}

.bg-primary, .loading .dot {
  background-color: hsl(210, 96%, 40%);
}

.bg-light, #toast {
  background-color: hsl(210, 0%, 98%);
}

.bg-trans-dark, #toast .toast-bg button {
  background-color: rgba(0, 0, 0, 0);
}

.bg-trans-dark-08, #toast .toast-bg .progress-bar .bg, #main-container.profile .details-bar .detail, #main-container.home ul li {
  background-color: rgba(0, 0, 0, 0.08);
}

.bg-trans-dark-16, #toast .toast-bg button:hover, #toast .toast-bg, #main-container.profile .repos ul li {
  background-color: rgba(0, 0, 0, 0.16);
}

.bg-trans-dark-64, #main-container.profile .user .avatar .overlay {
  background-color: rgba(0, 0, 0, 0.64);
}

.text-dark, #toast .toast-bg p {
  color: hsl(210, 100%, 2%);
}

.text-light, #header-container nav#main-nav .links a, #header-container nav#main-nav span, #main-container.profile .user .avatar .overlay {
  color: hsl(210, 0%, 98%);
}

#main-container.home ul li {
  max-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
}
#main-container.home ul li .text-box p {
  margin-left: 6px;
}
@media screen and (min-width: 768px) {
  #main-container.home ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  #main-container.home ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

#main-container.profile h2 {
  font-size: 32px;
}
@media screen and (min-width: 600px) {
  #main-container.profile h2 {
    font-size: 34.56px;
  }
}
@media screen and (min-width: 768px) {
  #main-container.profile h2 {
    font-size: 37.3248px;
  }
}
@media screen and (min-width: 992px) {
  #main-container.profile h2 {
    font-size: 40.310784px;
  }
}
#main-container.profile h3 {
  font-size: 24px;
}
@media screen and (min-width: 600px) {
  #main-container.profile h3 {
    font-size: 25.92px;
  }
}
@media screen and (min-width: 768px) {
  #main-container.profile h3 {
    font-size: 27.9936px;
  }
}
@media screen and (min-width: 992px) {
  #main-container.profile h3 {
    font-size: 30.233088px;
  }
}
#main-container.profile .control {
  margin: -16px;
}
@media screen and (min-width: 992px) {
  #main-container.profile .control {
    width: 100%;
    max-width: 1100px;
    margin: -16px auto;
  }
}
#main-container.profile .user .avatar {
  width: 256px;
  height: 256px;
}
#main-container.profile .details-bar .detail {
  max-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
}
@media (prefers-color-scheme: dark) {
  #main-container.profile .details-bar .detail {
    background-color: rgba(0, 0, 0, 0.16);
  }
}
#main-container.profile .details-bar.icon-title-value .detail {
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
}
#main-container.profile .details-bar.icon-title-value .detail svg {
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 48px;
}
#main-container.profile .details-bar.icon-title-value .detail p.xl {
  font-size: 32px;
}
@media screen and (min-width: 600px) {
  #main-container.profile .details-bar.icon-title-value .detail p.xl {
    font-size: 34.56px;
  }
}
@media screen and (min-width: 768px) {
  #main-container.profile .details-bar.icon-title-value .detail p.xl {
    font-size: 37.3248px;
  }
}
@media screen and (min-width: 992px) {
  #main-container.profile .details-bar.icon-title-value .detail p.xl {
    font-size: 40.310784px;
  }
}
@media screen and (min-width: 992px) {
  #main-container.profile .details-bar {
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }
  #main-container.profile .details-bar .detail {
    max-width: none;
    border-radius: 0;
  }
  #main-container.profile .details-bar .detail:first-of-type {
    border-radius: 16px 0 0 16px;
  }
  #main-container.profile .details-bar .detail:last-of-type {
    border-radius: 0 16px 16px 0;
  }
}
#main-container.profile .repos ul li {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
}
#header-container {
  background-color: hsl(210, 96%, 40%);
  color: hsl(210, 0%, 98%);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
}
#header-container nav#main-nav span {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 300;
}
#header-container nav#main-nav span svg {
  font-size: 32px;
}
@media screen and (max-width: 450px) {
  #header-container nav#main-nav span {
    padding: 3px;
    font-size: 14px;
  }
  #header-container nav#main-nav span svg {
    font-size: 19px;
  }
}
#header-container nav#main-nav .links a {
  font-size: 19px;
  transition: all 0.16s ease-in-out;
}
@media screen and (max-width: 450px) {
  #header-container nav#main-nav .links a {
    padding: 3px;
    font-size: 14px;
  }
}
@media (prefers-color-scheme: dark) {
  #header-container {
    background-color: rgba(0, 0, 0, 0.32);
  }
}

#footer-container {
  background-color: hsl(210, 96%, 40%);
  color: hsl(210, 0%, 98%);
}
#footer-container span.brand em {
  color: hsl(32, 96%, 48%);
}
@media (prefers-color-scheme: dark) {
  #footer-container {
    background-color: rgba(0, 0, 0, 0.32);
  }
}

#main-container {
  overflow-y: scroll;
}

.loading {
  width: 84px;
}
.loading .dot {
  animation: loading 0.48s infinite alternate cubic-bezier(0.64, 0.08, 0.96, 0.48);
}
.loading .dot:nth-of-type(2) {
  animation-delay: 0.16s;
}
.loading .dot:nth-of-type(3) {
  animation-delay: 0.32s;
}
@media (prefers-color-scheme: dark) {
  .loading .dot {
    background-color: hsl(32, 96%, 48%);
  }
}

@keyframes loading {
  from {
    transform: translateY(-12px);
  }
  to {
    transform: translateY(0);
  }
}
#toast {
  top: 96px;
  right: 16px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
  z-index: 1000;
  animation: toast-pop 3.64s forwards ease-out;
}
#toast .toast-bg {
  padding: 12px 16px 20px 16px;
}
#toast .toast-bg > svg {
  font-size: 29px;
}
#toast .toast-bg p {
  font-size: 16px;
}
#toast .toast-bg button {
  font-size: 14px;
  transition: all 0.16s ease-in-out;
}
@media screen and (min-width: 600px) {
  #toast .toast-bg button {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  #toast .toast-bg button {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  #toast .toast-bg button {
    font-size: 17.635968px;
  }
}
@media (prefers-color-scheme: dark) {
  #toast .toast-bg button {
    background-color: rgba(255, 255, 255, 0);
    color: hsl(210, 0%, 98%);
  }
  #toast .toast-bg button:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }
}
#toast .toast-bg .progress-bar .bg .fg {
  animation: progress-bar-drain 3s forwards linear;
  animation-delay: 0.32s;
}
#toast.error .toast-bg > svg {
  color: hsl(0, 64%, 48%);
}
#toast.error .toast-bg .progress-bar .fg {
  background-color: hsl(0, 64%, 48%);
}
#toast.success .toast-bg > svg {
  color: hsl(92, 64%, 48%);
}
#toast.success .toast-bg .progress-bar .bg .fg {
  background-color: hsl(92, 64%, 48%);
}
@media (prefers-color-scheme: dark) {
  #toast {
    background-color: #011428;
  }
  #toast .toast-bg {
    background-color: rgba(0, 0, 0, 0.16);
  }
  #toast .toast-bg p {
    color: hsl(210, 0%, 98%);
  }
}

.App {
  background-color: hsl(210, 0%, 98%);
  color: hsl(210, 100%, 2%);
  height: 100dvh;
  width: 100dvw;
}
@media (prefers-color-scheme: dark) {
  .App {
    background-color: #011428;
    color: hsl(210, 0%, 98%);
  }
}/*# sourceMappingURL=index.css.map */